html {
  height: 100%;
}

body {
  height: 100%;
}

h3,h4,p {
  color: white;
  text-align: center;
}

li {
  color: white;
  list-style-type: none;
}
/*ヘッダー---------------------------------------------------------------------*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.navbar-header {
  width: 100%;
}

.navbar-nav {
  float: right;
}

.wimixer_label {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}

.dropdown {
  float: right;
  margin-right: 10px;
}
/*エントランス------------------------------------------------------------------*/
.entrance-background {
  background-image: image-url("instrument-843024_1920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #009999
}

.about {
  height: 100%;
  padding: 15% 5% 25% 5%;
}

div.about h1,p {
  color: white;
  text-shadow: 0 0.3px 0 #000000,
               0.3px 0 0 #000000,
               0 -0.3px 0 #000000,
               -0.3px 0 0 #000000,
               -0.3px -0.3px 0 #000000,
               0.3px -0.3px 0 #000000,
               -0.3px 0.3px 0 #000000,
               0.3px 0.3px 0 #000000;
}
/*トップ-----------------------------------------------------------------------*/
.top-background {

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #009999
}

.top-notice {
  color: black;
  text-shadow: 0 0.3px 0 #fff,
               0.3px 0 0 #fff,
               0 -0.3px 0 #fff,
               -0.3px 0 0 #fff,
               -0.3px -0.3px 0 #fff,
               0.3px -0.3px 0 #fff,
               -0.3px 0.3px 0 #fff,
               0.3px 0.3px 0 #fff;
}

.piece {
  margin: 15px;
  padding:10px;
  background-color: rgba(40,175,148,0.7);
  overflow: hidden;
}

.piece p {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.piece .btn {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
/*フォーム関連------------------------------------------------------------------*/
.box {
  height: 100%;
}

.form-aria {
  height: 100%;
  padding: 10% 5% 25% 5%;
  background-color: rgba(25,25,25,0.5);
  word-break: break-word;
}

.field {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

div.form-aria h3,label,a,em {
  color: white;
}
/*コメント関連------------------------------------------------------------------*/
.comment {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  word-break: break-word;
  overflow: hidden;
}

.comment p {
  text-align: left;
}

.comment .btn {
  float: right;
}

.title {
  width: 85%;
  float: left;
  color: white;
}

.content {
  color: white;
  width: 48%;
  float: left;
  margin-top: 10px;
}

.memo {
  color: white;
  width: 48%;
  float: right;
  margin-top: 10px;
}

.label {
  float: right;
}

.button-bar {
  width: 100%;
}